<figure *ngIf="slides; else noSlides">
    <div class="carousel w-full">
        <div *ngFor="let slide of slides.imgfollowColor; let i = index"
            [id]="'carousel' + carouselId + '-slide' + (i + 1)" class="carousel-item relative w-full">
            <img [src]="slide" class="w-full h-48 object-cover rounded-t-xl" />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a [href]="'#carousel' + carouselId + '-slide' + (i === 0 ? slides.imgfollowColor.length : i)"
                    class="btn btn-circle">❮</a>
                <a [href]="'#carousel' + carouselId + '-slide' + (i === slides.imgfollowColor.length - 1 ? 1 : i + 2)"
                    class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
</figure>

<ng-template #noSlides>
    <p>No slides available.</p>
</ng-template>
