<div class="card bg-base-100 w-96 shadow-sm border border-slate-800">
  <figure>
    <div class="carousel w-full">
      <div id="slide1" class="carousel-item relative w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp"
          class="w-full h-48 object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="/card/#slide4" class="btn btn-circle">❮</a>
          <a href="/card/#slide2" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide2" class="carousel-item relative w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
          class="w-full h-48 object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="/card#slide1" class="btn btn-circle">❮</a>
          <a href="/card#slide3" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide3" class="carousel-item relative w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
          class="w-full h-48 object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="/card#slide2" class="btn btn-circle">❮</a>
          <a href="/card#slide4" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
          class="w-full h-48 object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="/card#slide3" class="btn btn-circle">❮</a>
          <a href="/card#slide1" class="btn btn-circle">❯</a>
        </div>
      </div>
    </div>
  </figure>
  <div class="card-body">
    <div class="price font-medium">
      <span class="text-red-500 mr-1">{{ product.price | currency:'VND' }}</span>
      <span class="text-slate-500 line-through mr-1">{{ product.oldPrice | currency:'VND' }}</span>
      <span *ngIf="product.isBestSeller"
        class="badge badge-secondary rounded-4xl bg-amber-500 border-amber-500 text-amber-900">Best seller</span>
    </div>
    <h2 class="card-title flex w-full justify-between">
      <span> {{product.name}} </span>
      <span>⭐ {{product.star}} ({{product.ratingAmount}})</span>
    </h2>
    <p>{{product.desc}}</p>
    <div class="color-select">
      <label for="radio" class="block text-[1rem] font-medium">Color:</label>
      <input *ngFor="let color of product.colors.colorName" type="radio" name="radio" class="mr-1 radio" [ngClass]="{
    'bg-red-500 text-red-500': color === 'red',
    'bg-blue-500 text-blue-500': color === 'blue',
    'bg-green-500 text-green-500': color === 'green',
    'bg-orange-500 text-orange-500': color === 'orange',
    'bg-pink-500 text-pink-500': color === 'pink'
  }" />
    </div>
    <div class="size-select">
      <label for="size" class="block text-[1rem] font-medium">Size:</label>
      <input *ngFor="let size of product.sizes" type="radio" name="size" class="mr-1 btn rounded-4xl"
        [attr.aria-label]="size" value="{{size}}" />
    </div>
    <div class="quantity">
      <label for="size" class="block text-[1rem] font-medium">Quantity:
        <span *ngIf="product.instock"
          class="badge badge-secondary rounded-4xl bg-green-300 border-green-300 text-green-900">In stock</span>
        <span *ngIf="!product.instock"
          class="badge badge-secondary rounded-4xl bg-amber-300 border-amber-300 text-amber-900">Out stock</span>
      </label>
      <input type="number" name="size" class="input validator w-full" required
        placeholder="Type a number between 1 to {{product.quantity}}" min="1" max="{{product.quantity}}"
        title="Must be between be 1 to {{product.quantity}}" />
      <p class="validator-hint">Must be between be 1 to {{product.quantity}}</p>
    </div>
    <!-- <div class="buynow flex items-center justify-between -->
    <!--   border border-slate-600 -->
    <!--   mx-1 max-w-xl py-1 px-1.5 rounded"> -->
    <div class="buynow flex items-center justify-between">
      <div class="flex items-center justify-between">
        <i class="fa fa-heart text-3xl inline-block mr-2" aria-hidden="true"></i>
        <i class="fa fa-shopping-bag text-3xl inline-block" aria-hidden="true"></i>
      </div>
      <button class="btn btn-primary block p-1 w-3/4">Buy now</button>
    </div>
  </div>
</div>
